.profile_info span {
    font-size: 14px;
    line-height: 30px;
    font-weight: 500;
    color: #ecf0f1;
  }

  .profile_info h2 {
    font-size: 14px;
    color: #ecf0f1;
    margin: 0;
    font-weight: 500;
  }